/* Default CSS for regular tags */

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1, p {
    margin-left: 1rem;
}

img {
    width: 100%;
    position: block;
}

footer {
    background-color: salmon;
    grid-column: span 12;
    bottom: 0;
    margin-top: 2rem;
    font-size: medium;
    text-align: center;
    position: block;
}

/* Custom style classes */

.align-center {
    text-align: center;
}

/* Custom division classes */

.container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
}

.header {
    grid-column: span 12;
}

.content {
    grid-column: span 12;
    display: flex;
    align-items: center;
}

.display {
    grid-column: span 6;
    margin-top: 1rem;
    display: flex;
    align-items: center;
}

.feedback-form {
    margin-top: 1rem;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
    grid-column: span 6;
    outline: 0.2rem solid black;
}

.feedback-form :is(h1, h2, h3, h4, h5, h6) {
    margin-left: 1rem;
}

/* Small device support */

@media screen and (max-width: 1000px) {
    .display {
        grid-column: span 12;
    }
    .feedback-form {
        grid-column: span 12;
    }
}