/* Default CSS for regular tags */

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

img {
    width: 100%;
    position: block;
}

footer {
    position: block;
    bottom: 0;
    background-color: #fa8072;
    grid-column: span 12;
    margin-top: 2rem;
    font-size: medium;
    text-align: center;
}

a:hover {
    background-color: #fa8072;
}

/* Custom style classes */

.align-center {
    text-align: center;
}

.text-bold {
    font-weight: bold;
}

.text-italic {
    font-style: italic;
}

/* Custom division classes */

.container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
}

.header {
    grid-column: span 12;
    background-color: #fa8072;
    padding-left: 1rem;
}

.content {
    grid-column: span 12;
    display: flex;
    align-items: center;
    margin-left: 1rem;
}

.display {
    grid-column: span 8;
    margin-top: 1rem;
    display: flex;
    align-items: center;
}

.feedback-form {
    grid-column: span 4;
    margin-top: 1rem;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
    border: 0.2rem solid #fa8072;
    border-radius: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-bottom: 1rem;
}

.feedback-form :is(h1, h2, h3, h4, h5, h6) {
    margin-left: 1rem;
}

.required:after {
    content:" *";
    color: red;
}

/* Small device support */

@media screen and (max-width: 1200px) {
    .display {
        grid-column: span 12;
    }
    .feedback-form {
        grid-column: span 12;
    }
    label, textarea {
        width: 80%;
    }
}