/* Fixed image dimensions */

img { 
    max-width: 100%; 
    height: auto 
}

/* Custom required attribute */

.required:after {
    content: " *";
    font-weight: bold;
    color: #ff0000;
}

span.anchor {
    margin-top: -5rem; /* height of nav, in this case 54px */
    display: block;
    height: 5rem; /* height of nav, in this case 54px */
    visibility: hidden;
    position: relative;
}
