body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

p {
    font-size: large;
}

ul {
    font-size:x-large;
}

footer {
    grid-column: span 12;
    font-size: medium;
    position: absolute;
    bottom: 0;
}

.container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
}

.header {
    grid-column: span 12;
}

.navigation-menu {
    grid-column: span 4;
    outline: 0.2rem solid black;
}

.main-content {
    grid-column: span 8;
    padding: 1rem;
}

@media screen and (max-width: 768px) {
    .navigation-menu {
        grid-column: span 6;
    }
    .main-content {
        grid-column: span 6;
    }
}

@media screen and (max-width: 480px) {
    .navigation-menu {
        grid-column: span 12;
    }
    .main-content {
        grid-column: span 12;
    }
}