/* Default CSS for regular tags */

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

footer {
    position: block;
    bottom: 0;
    background-color: #4f4399;
    grid-column: span 12;
    margin-top: 1rem;
    padding-top: 1rem;
    font-size: medium;
    text-align: center;
    border-radius: 1rem;
    color: white;
}

/* Custom style classes */

.align-center {
    text-align: center;
}

.bullet-none {
    list-style-type: none;
}

.checkbox-margin {
    margin-left: 0.5rem;
}

.text-bold {
    font-weight: bold;
}

.text-italic {
    font-style: italic;
}

.text-small {
    font-size: small;
}

/* Custom division classes */

.container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
}

.header {
    grid-column: span 12;
    background-color: #4f4399;
    padding-left: 1rem;
    border-radius: 2rem;
    text-align: center;
    color: white;
}

.navigation-button {
    margin: 1rem;
    margin-left: 4rem;
    margin-right: 4rem;
    padding: 0.1rem;
    font-size: x-large;
    display: flex;
    justify-content: center;
    background-color: #CBC3E3;
    cursor: pointer;
    border-radius: 5rem;
}


.navigation-menu {
    grid-column: span 4;
}

.content {
    grid-column: span 8;
    display: flex;
    align-items: center;
    margin-left: 1rem;
}

.required:after {
    content: " *";
    font-weight: bold;
    color: #ff0000;
}

/* Small device support */

/* @media screen and (max-width: 1200px) {

} */