/* Default CSS for regular tags */

button {
    font-size: large;
    padding: 0.6rem;
    color: #000000;
    background-color: rgb(252, 125, 125);
    border-radius: 1rem;
}

footer {
    position: block;
    bottom: 0;
    background-color: #7c0000;
    grid-column: span 12;
    margin: 0.5rem;
    margin-top: 1rem;
    padding-top: 1rem;
    font-size: medium;
    text-align: center;
    border-radius: 1rem;
    color: white;
}

footer a {
    color: #00eeff;
}

footer a:hover {
    color: #00aeff;
}

label {
    margin-left: 1rem;
}

/* Custom style classes */

.bullet-none {
    list-style-type: none;
}

.checkbox-margin {
    margin-left: 0.2rem;
}

.text-bold {
    font-weight: bold;
}

.text-center {
    text-align: center;
}

.text-italic {
    font-style: italic;
}

/* Custom classes */

.container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
}

.header {
    grid-column: span 12;
    background-color: #7c0000;
    margin: 0.5rem;
    border-radius: 1rem;
    text-align: center;
    color: white;
}

.content {
    grid-column: span 12;
    align-items: center;
    margin: 0.5rem;
}

.content1-1 {
    grid-column: span 12;
}

.content1-2 {
    grid-column: span 12;
}

.content1-3 {
    grid-column: span 12;
}

.content1-4 {
    grid-column: span 12;
}

.image {
    margin-left: 2rem;
    height: 100px;
    width: 100px;
}

.menu {
    grid-column: span 12;
}

.user {
    display: none;
}

/* Custom IDs */

#added {
    font-size: large;
    padding: 0.5rem;
}

#addToCart {
    float: left;
    margin-right: 1rem;
}

#backNext {
    grid-column: span 12;
    display: flex;
    justify-content: space-between;
    padding: 0 2rem;
}

#back, #next {
    font-size: large;
    background-color: rgb(148, 0, 104);
    color: #ffffff;
}

#checkoutButton {
    background-color: rgb(0, 255, 64);
}

#clear {
    color: #ffffff;
    background-color: rgb(255, 38, 0);
}

#content1 {
    display: block;
}

#content2, #content3 {
    display: none;
}

#dataTab, #productsTab, #cartTab {
    border-radius: 1rem;
    text-align: center;
    font-size: x-large;
    border-style: solid;
}

#missing {
    font-size: large;
    padding-top: 1rem;
}

/* Small device support */

@media screen and (max-width: 1200px) {
    .menu {
        grid-column: span 12;
    }
    .content {
        grid-column: span 12;
    }
}

@media screen and (max-width: 300px) {
    .menu {
        grid-column: span 12;
    }
    .content {
        grid-column: span 12;
    }
    #added {
        padding: 0rem;
    }
}