/* Default CSS for regular tags */

body {
    background-color: #f6fff6;
}

button {
    font-size: large;
    padding: 0.6rem;
    color: #ffffff;
    background-color: rgb(104, 50, 255);
    border-radius: 1rem;
}

footer {
    position: block;
    bottom: 0;
    background-color: #1c5a1e;
    grid-column: span 12;
    margin: 0.5rem;
    margin-top: 1rem;
    padding-top: 1rem;
    font-size: medium;
    text-align: center;
    border-radius: 1rem;
    color: white;
}

footer a {
    color:#00eeff;
}

footer a:hover {
    color:#00aeff;
}

label {
    margin-left: 1rem;
}

/* Custom style classes */

.bullet-none {
    list-style-type: none;
}

.checkbox-margin {
    margin-left: 0.2rem;
}

.text-bold {
    font-weight: bold;
}

.text-italic {
    font-style: italic;
}

/* Custom classes */

.container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
}

.header {
    grid-column: span 12;
    background-color: #1c5a1e;
    margin: 0.5rem;
    border-radius: 1rem;
    text-align: center;
    color: white;
}

.content {
    grid-column: span 12;
    align-items: center;
    margin: 0.5rem;
}

.content1-1 {
    grid-column: span 12;
}

.content1-2 {
    grid-column: span 12;
}

.content1-3 {
    grid-column: span 12;
}

.content1-4 {
    grid-column: span 12;
}

.display {
    grid-column: span 12;
    display: flex;
    align-items: center;
    margin: 1rem;
}

.menu {
    grid-column: span 12;
}

.navigation-button {
    margin: 0.5rem;
    padding: 0.1rem;
    font-size: x-large;
    display: flex;
    justify-content: center;
    background-color: #c0aaff;
    cursor: pointer;
    border-radius: 5rem;
    box-shadow: 0 0 0 0.1rem #4f4399;
}

.navigation-button:hover {
    background-color: #9a75ff;
}

.user {
    display: none;
}

.wizard {
    grid-column: span 4;
}

/* Custom IDs */

#added {
    font-size: large;
    padding: 0.5rem;
}

#addToCart {
    float: left;
    margin-right: 1rem;
}

#backNext {
    grid-column: span 12;
    display: flex;
    justify-content: space-between;
    padding: 0 2rem;
}

/* #content1 {
    display: block;
    background-color:#4f4399;
}

#content2, #content3 {
    display: always;
} */

/* Small device support */

@media screen and (max-width: 1200px) {
    .menu {
        grid-column: span 12;
    }
    .content {
        grid-column: span 12;
    }
}

@media screen and (max-width: 300px) {
    .menu {
        grid-column: span 12;
    }
    .content {
        grid-column: span 12;
    }
    #added {
        padding: 0rem;
    }
}